[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/Piratkopia13/glfw.git
	branch = master
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/Piratkopia13/imgui
	branch = docking
[submodule "libraries/MemoryManager"]
	path = libraries/MemoryManager
	url = https://github.com/Skratzy/MemoryManager