# Obj files
[Ii]ntermediates/

# Visual Studio cache/options directory
.vs/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db

# SPLASH Files
**/LogFiles/*
*.settings
*.saildata

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Visual Studio solution and project files
*.sln
*.filters
*.vcxproj
*.user

# To-Do list extension
*.tasks

# User added
plan\.txt

# SonarQube
/.sonarqube
/bw-output
/.scannerwork

# Imgui configs
/SPLASH/imgui.ini

# replays
*.SPLASH

#bin
bin/*
/libraries/glm/out/build
/SPLASH/src/NetworkWrapper.cpp
